service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
    writepid /dev/cpuset/system-background/tasks

service fpc_fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint.fpc@2.1-service
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid

on boot
    chmod 0664 /sys/module/wlan/parameters/fwpath
    chown wifi wifi /sys/module/wlan/parameters/fwpath

    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness

    chmod 0660 /sys/class/leds/red/blink
    chmod 0660 /sys/class/leds/blue/blink
    chmod 0660 /sys/class/leds/green/blink
    chmod 0660 /sys/class/leds/red/brightness
    chmod 0660 /sys/class/leds/green/brightness
    chmod 0660 /sys/class/leds/blue/brightness
